.message-pane {
  display: flex;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  background-color: #fafafa;
}

.message-pane input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  outline: none;
}

.buttonpane {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  outline: none;
  width: 100px;
}

.message-pane button:hover {
  background-color: #0056b3;
}
