.menu-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 950px;
  position: fixed;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
  z-index: 3;
}

.menu-open .menu-icon {
  transform: rotate(180deg); /* Adjust the rotation angle as needed */
}

.menu {
  position: fixed;
  top: 0;
  left: -250px; /* Initial position off-screen */
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.595);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease-in-out; /* Slide animation */
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  z-index: 2; /* Adjust the padding based on your design */
}

.menu-open .menu {
  left: 0; /* Slide in when menu is open */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu li:hover {
  background-color: #333;
}

.close-button {
  cursor: pointer;
  color: white;
  margin-top: auto; /* Push the button to the bottom of the menu */
  padding: 15px;
  text-align: center;
  border-top: 1px solid #555;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
}

.user-info {
  position: fixed;
  right: 10px;
  color: rgb(0, 0, 0);
  text-align: right;
  z-index: 2; /* Align text to the right */
}
