* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html,
body {
  margin: 0;
}

.login-page-container {
  /* background-image: url('https://t4.ftcdn.net/jpg/06/66/64/25/240_F_666642585_IDwqaBFAsgrhckWLGRT45WaHXQrJQM2f.jpg'); */
  height: 100vh;
  background-size:cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header {
  position: fixed;
  top: 50px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
}

.login-detail-container {
  position: fixed;
  background-color: hsla(201, 100%, 6%, 0.6);
  padding: 50px 30px;
  min-width: 400px;
  width: 50%;
  max-width: 600px;
}

.login-title {
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.5em;
  font-weight: normal;
}

.enter-username {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.enter-username label {
  color: #fff;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.enter-username input {
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 91%, 0.3);
  border: 1px solid hsl(201, 100%, 6%);
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: lighter;
}

.input-group input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}

.login-button {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  background: hsla(200, 6%, 57%, 0.1);
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  font-size: 1.5em;
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}