.changeName {
  display: grid;
  justify-content: center;
  margin-top: 15em;
}
.formchange {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 35em;
}

h1 {
  color: #333;
  text-align: center;
  padding-bottom: 20px;
}

label {
  margin-bottom: 5px;
  color: #333;
  display: grid;
  justify-content: center;
  align-items: center;
}


.inputchange {
  width: 40vb;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0752a1;
}

.success-message {
  color: #007bff;
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: #f44336;
  margin-top: 10px;
  text-align: center;
}
